.wrapper {
  margin-top: 45px;
  padding: 28px 20px 26px;
  background-color: var(--light-gray-color);
  max-width: 350px;
  border-radius: 5px;
  margin-left: auto;
  margin-right: auto;
  &.result {
    max-width: max-content;
  }
  h2 {
    font-size: 18px;
    font-weight: 700;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
    margin-bottom: 11px;
  }
  form {
    row-gap: 5px;
    label {
      > span {
        font-size: 10px;
        font-weight: 400;
        line-height: 12px;
        letter-spacing: 0em;
        text-align: left;
        padding-left: 8px;
        margin-bottom: 4px;
        color: var(--gray-color);
      }
      input {
        border: none;
        background-color: var(--dark-gray-color);
        padding: 12px 8px;
        outline: none;
        border-bottom: 5px solid;
        border-color: transparent;
        &.ng-touched.ng-invalid {
          border-radius: 0px 0px 5px 5px;
          border-color: var(--error-color);
        }
      }
    }
    &.err_on_submit {
      label {
        input.ng-invalid {
          border-radius: 0px 0px 5px 5px;
          border-color: var(--error-color);
        }
      }
    }
  }
  button {
    margin-top: 22px;
    padding: 6px;
    text-align: center;
    border-radius: 5px;
    max-width: 125px;
    width: 100%;
    margin-left: auto;
  }
}
