<div class="wrapper filter" *ngIf="this.coreService.showFilter">
  <div class="content flex-row text">
    <div class="title">Sorting by:</div>
    <div
      class="filter-item"
      (click)="filterHandler(sortTypeDate)"
      [class.active]="this.filterService.sortBy === sortTypeDate"
    >
      date
    </div>
    <div
      class="filter-item"
      (click)="filterHandler(sortTypeCount)"
      [class.active]="this.filterService.sortBy === sortTypeCount"
    >
      count of views
    </div>
    <div class="flex-row input-row">
      <div
        class="search-row filter-item"
        (click)="filterHandler(sortTypeWord)"
        [class.active]="this.filterService.sortBy.includes(sortTypeWord)"
      >
        by word or sentence
      </div>
      <input type="text" class="input" (input)="searchByWord(wordInput.value)" #wordInput />
    </div>
  </div>
</div>
